/*
    0 - 600px:   phone
    600 - 900px: Tablet portrait
    900 - 1200px: Tablet Landscape
    [1200 - 1800px]:  is where our normal styles apply
    1800px + : Big desktop


    $breakpoint argument choices : 
    -  phone
    -  tab-port
    -  tab-land
    -  big-desktop
    OEDER: base + typography > Genral layout > grid > page layout > components

    1em = 1px
    */
.header {
  height: 10rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: var(--color-grey-light-1); }

.main-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  height: 87vh; }

.sidebar {
  width: 25rem;
  background-color: white;
  padding: 20px; }

.main-content {
  flex: 1;
  background-color: var(--color-grey-light-1); }

:root {
  --color-primary: #f38e82;
  --color-grad-1: #fbdb89;
  --color-grad-2: #f48982;
  --color-grey-light-1: #f9f5f3;
  --color-grey-light-2: #f2efee;
  --color-grey-light-3: #d3c7c3;
  --color-grey-dark-1: #615551;
  --color-grey-dark-2: #918581;
  --gradient: linear-gradient(to right bottom, #fbdb89, #f48982);
  --bp-large: 78.15em;
  --bp-medium: 61.25em;
  --bp-small: 37.5em;
  --bp-smallest: 31.25em; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: var(--bp-medium)) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1);
  background-image: var(--gradient);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(98.30vh); }

.btn-pri {
  background-image: var(--gradient) !important;
  color: white !important;
  border: none !important;
  transition: all 0.8s ease; }
  .btn-pri:hover {
    transform: scale(1.05); }

.text-gradient {
  background-image: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }

.bg-gradient {
  background-color: var(--gradient) !important; }

.header__links {
  position: relative;
  height: 100%; }

.header__link {
  color: var(--color-grey-dark-1);
  height: 100%;
  display: flex !important;
  align-items: center;
  padding: 0 1.5rem;
  transition: background-color 0.5s ease; }
  .header__link:hover {
    background-color: var(--color-grey-light-2); }

.header__logo {
  width: 15rem;
  height: 8; }

.search-form:focus-within {
  transform: translateY(0px) scale(1.03);
  /* Move container up 4px when input is focused */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.07) !important;
  /* Smooth shadow */
  border-radius: 3rem; }

.search-form,
.search-form .form-control,
.search-form .btn {
  transition: all 0.5s ease;
  /* Individual transition for input and button */ }

.form-control:focus {
  box-shadow: none !important; }
